node_modules
uploads
exports
logs
.git
.github
*.log
dist
build
public/libs/package/
node_modules
test
test-output
.git
public/libs/build
public/libs/package
uploads
exports
*.log
*.local
*.pem
*.key
*.env
